<div class="inline-flex flex-col space-y-4 items-start justify-start bg-white" style="width: 1440px; height: 1655px;">
    <div class="shadow" style="width: 1440px; height: 60px;">
        <div class="flex space-x-7 items-center justify-end py-3 pl-96 pr-9 bg-white shadow"
            style="width: 1440px; height: 60px;">
            <div class="w-20 h-full">
                <div class="flex items-center justify-center flex-1 h-full px-4 py-1.5 bg-indigo-700 rounded-lg">
                    <p class="text-lg text-white">Login<p>
                <div>
            <div>
            <p class="text-lg">Register<p>
        <div>
    <div>
    <p class="text-6xl font-black">Find a Qualified Tradesmen <br >For Any Of Your Needs.<p>
    <div class="inline-flex items-start justify-end pl-24 pr-16 pt-11 pb-16" style="width: 775px; height: 580px;">
        <div class="relative bg-gray-100 rounded-lg" style="width: 614.06px; height: 463.71px;">
            <div class="w-28 h-2 absolute bg-indigo-500 rounded-full" style="left: 165.76px; top: 154.46px;" >
            <div class="opacity-40 w-28 h-2 absolute bg-white rounded-full" style="left: 165.76px; top: 154.46px;" >
            <div class="w-28 h-16 absolute bg-gray-500 rounded-lg" style="left: 161.57px; top: 95.78px;" >
            <div class="w-28 h-2 absolute bg-indigo-500 rounded-full" style="left: 427.32px; top: 153.50px;" >
            <div class="opacity-40 w-28 h-2 absolute bg-white rounded-full" style="left: 427.32px; top: 153.50px;" >
            <div class="w-28 h-16 absolute bg-gray-500 rounded-lg" style="left: 423.13px; top: 94.81px;" >
            <div class="w-9 h-0.5 absolute bg-gray-500 rounded-full" style="left: 447.62px; top: 54.50px;" >
            <div class="w-0.5 h-0.5 absolute bg-gray-500 rounded-full" style="left: 95.70px; top: 53.94px;" >
            <div class="w-9 h-0.5 absolute bg-gray-500 rounded-full" style="left: 404.26px; top: 94.18px;" >
            <div class="w-0.5 h-0.5 absolute bg-gray-500 rounded-full" style="left: 532.78px; top: 94.18px;" >
            <div class="absolute bg-gray-500 rounded-full"
                style="width: 434.35px; height: 1.38px; left: 97.80px; top: 51.19px;" >
            <div class="w-9 h-0.5 absolute bg-gray-500 rounded-full" style="left: 447.62px; top: 94.18px;" >
            <div class="w-9 h-0.5 absolute bg-gray-500 rounded-full" style="left: 404.26px; top: 54.22px;" >
            <div class="w-9 h-0.5 absolute bg-gray-500 rounded-full" style="left: 490.98px; top: 54.77px;" >
            <div class="w-3.5 h-0.5 absolute bg-gray-500 rounded-full" style="left: 534.34px; top: 94.18px;" >
            <div class="w-9 h-0.5 absolute bg-gray-500 rounded-full" style="left: 360.90px; top: 53.94px;" >
            <div class="w-9 h-0.5 absolute bg-gray-500 rounded-full" style="left: 490.98px; top: 94.18px;" >
            <div class="absolute bg-gray-500 rounded-full"
                style="width: 462.23px; height: 1.10px; left: 68.33px; top: 96.94px;" >
            <div class="w-9 h-0.5 absolute bg-gray-500 rounded-full" style="left: 274.73px; top: 53.94px;" >
            <div class="w-9 h-0.5 absolute bg-gray-500 rounded-full" style="left: 102.40px; top: 53.94px;" >
            <div class="w-9 h-0.5 absolute bg-gray-500 rounded-full" style="left: 317.82px; top: 94.18px;" >
            <div class="w-9 h-0.5 absolute bg-gray-500 rounded-full" style="left: 274.73px; top: 94.18px;" >
            <div class="w-9 h-0.5 absolute bg-gray-500 rounded-full" style="left: 145.48px; top: 53.94px;" >
            <div class="w-9 h-0.5 absolute bg-gray-500 rounded-full" style="left: 188.57px; top: 53.94px;" >
            <div class="w-9 h-0.5 absolute bg-gray-500 rounded-full" style="left: 145.48px; top: 94.18px;" >
            <div class="w-9 h-0.5 absolute bg-gray-500 rounded-full" style="left: 231.65px; top: 53.94px;" >
            <div class="w-9 h-0.5 absolute bg-gray-500 rounded-full" style="left: 231.65px; top: 94.18px;" >
            <div class="w-9 h-0.5 absolute bg-gray-500 rounded-full" style="left: 188.57px; top: 94.18px;" >
            <div class="w-7 h-0.5 absolute bg-gray-500 rounded-full" style="left: 70.44px; top: 94.18px;" >
            <div class="w-9 h-0.5 absolute bg-gray-500 rounded-full" style="left: 317.82px; top: 53.94px;" >
            <div class="w-9 h-0.5 absolute bg-gray-500 rounded-full" style="left: 102.40px; top: 94.18px;" >
            <div class="w-9 h-0.5 absolute bg-gray-500 rounded-full" style="left: 360.90px; top: 94.18px;" >
            <div class="w-0.5 h-0.5 absolute bg-gray-500 rounded-full" style="left: 96.39px; top: 51.74px;" >
            <div class="w-7 h-0.5 absolute bg-gray-500 rounded-full" style="left: 69.03px; top: 94.73px;" >
            <div class="w-2 h-3 absolute bg-gray-500 rounded-full" style="left: 89.80px; top: 52.39px;" >
            <div class="w-4 h-5 absolute bg-gray-500 rounded-lg" style="left: 80.78px; top: 76.57px;" >
            <div class="w-11 h-11 absolute bg-gray-500 rounded-lg" style="left: 98.63px; top: 51.74px;" >
            <div class="w-6 h-6 absolute bg-gray-500 rounded-lg" style="left: 98.95px; top: 74.34px;" >
            <div class="w-5 h-5 absolute bg-gray-500 rounded-lg" style="left: 121.27px; top: 52.39px;" >
            <div class="w-11 h-11 absolute bg-gray-500 rounded-lg" style="left: 98.95px; top: 52.06px;" >
            <div class="w-11 h-11 absolute bg-gray-500 rounded-lg" style="left: 141.71px; top: 51.74px;" >
            <div class="w-6 h-6 absolute bg-gray-500 rounded-lg" style="left: 142.03px; top: 74.34px;" >
            <div class="w-5 h-5 absolute bg-gray-500 rounded-lg" style="left: 164.36px; top: 52.39px;" >
            <div class="w-11 h-11 absolute bg-gray-500 rounded-lg" style="left: 142.03px; top: 52.06px;" >
            <div class="w-11 h-11 absolute bg-gray-500 rounded-lg" style="left: 184.79px; top: 51.74px;" >
            <div class="w-6 h-6 absolute bg-gray-500 rounded-lg" style="left: 185.12px; top: 74.34px;" >
            <div class="w-5 h-5 absolute bg-gray-500 rounded-lg" style="left: 207.44px; top: 52.39px;" >
            <div class="w-11 h-11 absolute bg-gray-500 rounded-lg" style="left: 185.12px; top: 52.06px;" >
            <div class="w-11 h-11 absolute bg-gray-500 rounded-lg" style="left: 227.88px; top: 51.74px;" >
            <div class="w-6 h-6 absolute bg-gray-500 rounded-lg" style="left: 228.20px; top: 74.34px;" >
            <div class="w-5 h-5 absolute bg-gray-500 rounded-lg" style="left: 250.52px; top: 52.39px;" >
            <div class="w-11 h-11 absolute bg-gray-500 rounded-lg" style="left: 228.20px; top: 52.06px;" >
            <div class="w-11 h-11 absolute bg-gray-500 rounded-lg" style="left: 270.96px; top: 51.74px;" >
            <div class="w-6 h-6 absolute bg-gray-500 rounded-lg" style="left: 271.29px; top: 74.34px;" >
            <div class="w-5 h-5 absolute bg-gray-500 rounded-lg" style="left: 293.61px; top: 52.39px;" >
            <div class="w-11 h-11 absolute bg-gray-500 rounded-lg" style="left: 271.29px; top: 52.06px;" >
            <div class="w-11 h-11 absolute bg-gray-500 rounded-lg" style="left: 314.04px; top: 51.74px;" >
            <div class="w-6 h-6 absolute bg-gray-500 rounded-lg" style="left: 314.37px; top: 74.34px;" >
            <div class="w-5 h-5 absolute bg-gray-500 rounded-lg" style="left: 336.69px; top: 52.39px;" >
            <div class="w-11 h-11 absolute bg-gray-500 rounded-lg" style="left: 314.37px; top: 52.06px;" >
            <div class="w-0.5 h-10 absolute bg-gray-500 rounded-lg" style="left: 400.21px; top: 55.23px;" >
            <div class="w-11 h-11 absolute bg-gray-500 rounded-lg" style="left: 357.13px; top: 51.74px;" >
            <div class="w-6 h-6 absolute bg-gray-500 rounded-lg" style="left: 357.45px; top: 74.34px;" >
            <div class="w-5 h-6 absolute bg-gray-500 rounded-lg" style="left: 379.78px; top: 52.11px;" >
            <div class="w-11 h-11 absolute bg-gray-500 rounded-lg" style="left: 357.45px; top: 52.06px;" >
            <div class="w-0.5 h-10 absolute bg-gray-500 rounded-lg" style="left: 443.58px; top: 55.51px;" >
            <div class="w-11 h-11 absolute bg-gray-500 rounded-lg" style="left: 400.49px; top: 52.02px;" >
            <div class="w-6 h-6 absolute bg-gray-500 rounded-lg" style="left: 400.81px; top: 74.61px;" >
            <div class="w-5 h-6 absolute bg-gray-500 rounded-lg" style="left: 423.13px; top: 52.39px;" >
            <div class="w-11 h-11 absolute bg-gray-500 rounded-lg" style="left: 400.81px; top: 52.34px;" >
            <div class="w-0.5 h-10 absolute bg-gray-500 rounded-lg" style="left: 486.93px; top: 55.78px;" >
            <div class="w-11 h-11 absolute bg-gray-500 rounded-lg" style="left: 443.85px; top: 52.29px;" >
            <div class="w-6 h-6 absolute bg-gray-500 rounded-lg" style="left: 444.17px; top: 74.89px;" >
            <div class="w-5 h-6 absolute bg-gray-500 rounded-lg" style="left: 466.50px; top: 52.66px;" >
            <div class="w-11 h-11 absolute bg-gray-500 rounded-lg" style="left: 444.17px; top: 52.62px;" >
            <div class="w-0.5 h-10 absolute bg-gray-500 rounded-lg" style="left: 530.29px; top: 56.06px;" >
            <div class="w-11 h-11 absolute bg-gray-500 rounded-lg" style="left: 487.21px; top: 52.57px;" >
            <div class="w-6 h-6 absolute bg-gray-500 rounded-lg" style="left: 487.53px; top: 75.17px;" >
            <div class="w-5 h-6 absolute bg-gray-500 rounded-lg" style="left: 509.86px; top: 52.94px;" >
            <div class="w-11 h-11 absolute bg-gray-500 rounded-lg" style="left: 487.53px; top: 52.89px;" >
            <div class="w-5 h-11 absolute bg-gray-500 rounded-lg" style="left: 530.57px; top: 52.84px;" >
            <div class="w-3.5 h-3.5 absolute bg-gray-500 rounded-full" style="left: 530.89px; top: 83.20px;" >
            <div class="w-1 h-1 absolute bg-gray-500 rounded-full" style="left: 530.89px; top: 53.22px;" >
            <div class="w-44 h-64 absolute right-0 bottom-0 bg-gray-500 rounded-lg" >
            <div class="w-36 h-5 absolute bg-gray-300 rounded-lg" style="left: 450.93px; top: 206.83px;" >
            <div class="w-40 h-5 absolute bg-gray-300 rounded-lg" style="left: 450.93px; top: 228.19px;" >
            <div class="w-40 h-5 absolute bg-gray-300 rounded-lg" style="left: 450.93px; top: 249.52px;" >
            <div class="w-40 h-5 absolute bg-gray-300 rounded-lg" style="left: 450.93px; top: 270.91px;" >
            <div class="w-40 h-5 absolute bg-gray-300 rounded-lg" style="left: 450.93px; top: 292.24px;" >
            <div class="w-40 h-5 absolute bg-gray-300 rounded-lg" style="left: 450.93px; top: 313.59px;" >
            <div class="w-36 h-5 absolute bg-gray-300 rounded-lg" style="left: 450.93px; top: 334.94px;" >
            <div class="w-36 h-5 absolute bg-gray-300 rounded-lg" style="left: 450.93px; top: 356.29px;" >
            <div class="w-32 h-5 absolute bg-gray-300 rounded-lg" style="left: 450.93px; top: 377.65px;" >
            <div class="w-32 h-5 absolute bg-gray-300 rounded-lg" style="left: 450.93px; top: 399px;" >
            <div class="w-32 h-5 absolute bg-gray-300 rounded-lg" style="left: 450.93px; top: 420.35px;" >
            <div class="w-28 h-5 absolute bg-gray-300 rounded-lg" style="left: 450.93px; top: 441.70px;" >
            <div class="w-6 h-96 absolute bg-gray-500 rounded-lg" style="left: 337.34px; top: 97.83px;" >
            <div class="w-11 h-14 absolute bg-gray-500 rounded-lg" style="left: 299.77px; top: 93.70px;" >
            <div class="w-11 h-14 absolute bg-gray-500 rounded-lg" style="left: 355.48px; top: 93.71px;" >
            <div class="w-6 h-96 absolute bg-gray-500 rounded-lg" style="left: 78.20px; top: 97.83px;" >
            <div class="w-7 h-10 absolute bg-gray-500 rounded-lg" style="left: 55.12px; top: 112.15px;" >
            <div class="w-11 h-14 absolute bg-gray-500 rounded-lg" style="left: 96.34px; top: 93.71px;" >
            <div class="absolute bg-gray-400 rounded-full"
                style="width: 577.51px; height: 1.86px; left: 7.29px; top: 461.71px;" >
            <div class="w-28 h-6 absolute bg-indigo-500 rounded-lg" style="left: 329.12px; top: 369.73px;" >
            <div class="w-28 h-4 absolute bg-gray-700 rounded-full" style="left: 330.56px; top: 371.79px;" >
            <div class="absolute bg-indigo-500 rounded-lg"
                style="width: 410.10px; height: 117.76px; left: 42.37px; top: 326.14px;" >
            <div class="w-12 h-12 absolute bg-indigo-500 rounded-lg" style="left: 35.31px; top: 392.68px;" >
            <div class="opacity-20 w-12 h-12 absolute bg-black rounded-lg" style="left: 35.31px; top: 392.68px;" >
            <div class="w-20 h-12 absolute bg-gray-800 rounded-lg" style="left: 340.44px; top: 394.52px;" >
            <div class="w-20 h-12 absolute bg-gray-800 rounded-lg" style="left: 73.62px; top: 394.52px;" >
            <div class="opacity-30 w-2.5 h-1 absolute bg-black rounded-full" style="left: 328.83px; top: 364.89px;" >
            <div class="opacity-20 w-28 h-16 absolute bg-black rounded-lg" style="left: 128.24px; top: 366.57px;" >
            <div class="opacity-20 w-24 h-16 absolute bg-black rounded-lg" style="left: 228.25px; top: 370.97px;" >
            <div class="w-24 h-9 absolute bg-gray-700 rounded-lg" style="left: 129.11px; top: 332.37px;" >
            <div class="w-16 h-8 absolute bg-gray-300 rounded-lg" style="left: 162.27px; top: 334.56px;" >
            <div class="w-7 h-5 absolute bg-gray-300 rounded-lg" style="left: 131.73px; top: 343.89px;" >
            <div class="w-24 h-10 absolute bg-gray-700 rounded-lg" style="left: 224.13px; top: 332.37px;" >
            <div class="w-20 h-9 absolute bg-gray-300 rounded-lg" style="left: 229.33px; top: 334.56px;" >
            <div class="w-14 h-8 absolute bg-gray-300 rounded-lg" style="left: 283.23px; top: 334.83px;" >
            <div class="opacity-30 w-3 h-3 absolute bg-black rounded-full" style="left: 421.91px; top: 386.73px;" >
            <div class="w-16 h-16 absolute bg-black rounded-lg" style="left: 82.13px; top: 400.82px;" >
            <div class="w-11 h-11 absolute bg-gray-500 rounded-lg" style="left: 91.37px; top: 410.07px;" >
            <div class="w-7 h-7 absolute bg-gray-300 rounded-lg" style="left: 98.36px; top: 417.07px;" >
            <div class="w-16 h-16 absolute bg-black rounded-lg" style="left: 347.77px; top: 400.82px;" >
            <div class="w-11 h-11 absolute bg-gray-500 rounded-lg" style="left: 355.80px; top: 411.21px;" >
            <div class="w-7 h-7 absolute bg-gray-300 rounded-lg" style="left: 363.98px; top: 417.09px;" >
            <div class="w-52 h-3.5 absolute bg-indigo-500 rounded-full" style="left: 143.84px; top: 439.06px;" >
            <div class="w-10 h-8 absolute bg-indigo-500 rounded-lg" style="left: 412.43px; top: 412.63px;" >
            <div class="opacity-20 w-10 h-8 absolute bg-black rounded-lg" style="left: 412.43px; top: 412.63px;" >
            <div class="opacity-20 w-52 h-3.5 absolute bg-black rounded-full" style="left: 143.84px; top: 439.06px;" >
            <div class="w-6 h-1.5 absolute bg-gray-700 rounded-full" style="left: 142.62px; top: 373.42px;" >
            <div class="w-6 h-1.5 absolute bg-gray-700 rounded-full" style="left: 239.73px; top: 378.62px;" >
            <div class="opacity-30 w-7 h-5 absolute bg-black rounded-lg" style="left: 40.55px; top: 372.13px;" >
            <div class="w-6 h-5 absolute bg-gray-300 rounded-lg" style="left: 40.48px; top: 372.13px;" >
            <div class="w-6 h-3.5 absolute bg-gray-300 rounded-full" style="left: 424.07px; top: 385.80px;" >
            <div class="w-2 h-20 absolute bg-gray-500 rounded-lg" style="left: 390.43px; top: 295.92px;" >
            <div class="w-16 h-20 absolute bg-indigo-500 rounded-lg" style="left: 338.62px; top: 291.02px;" >
            <div class="opacity-80 w-5 h-8 absolute bg-gray-100 rounded-lg" style="left: 174.78px; top: 335.67px;" >
            <div class="opacity-80 w-3 h-8 absolute bg-gray-100 rounded-lg" style="left: 194.23px; top: 335.13px;" >
            <div class="opacity-80 w-4 h-8 absolute bg-gray-100 rounded-lg" style="left: 244.99px; top: 336.02px;" >
            <div class="opacity-80 w-2.5 h-7 absolute bg-gray-100 rounded-lg" style="left: 264.24px; top: 338.90px;" >
            <div class="w-14 h-7 absolute bg-gray-300 rounded-lg" style="left: 99.27px; top: 334.83px;" >
            <div class="w-2.5 h-3 absolute bg-indigo-500 rounded-full" style="left: 318.28px; top: 362.18px;" >
            <div class="opacity-30 w-2.5 h-3 absolute bg-black rounded-full" style="left: 318.28px; top: 362.18px;" >
            <div class="w-3.5 h-4 absolute bg-red-300 rounded-full" style="left: 486.79px; top: 444.15px;" >
            <div class="opacity-20 w-2.5 h-2 absolute bg-black rounded-full" style="left: 492.50px; top: 447.53px;" >
            <div class="w-5 h-2.5 absolute bg-gray-700 rounded-full" style="left: 482.06px; top: 450.75px;" >
            <div class="w-5 h-1 absolute bg-black rounded-full" style="left: 481.85px; top: 458.14px;" >
            <div class="w-1.5 h-1.5 absolute bg-black rounded-full" style="left: 488.52px; top: 450.67px;" >
            <div class="w-1 h-0.5 absolute bg-pink-900 bg-opacity-50 border rounded-full border-white"
                style="left: 489.46px; top: 454.72px;" >
            <div class="w-1 h-0.5 absolute bg-pink-900 bg-opacity-50 border rounded-full border-white"
                style="left: 490.33px; top: 453.46px;" >
            <div class="w-1 h-0.5 absolute bg-pink-900 bg-opacity-50 border rounded-full border-white"
                style="left: 491.24px; top: 452.24px;" >
            <div class="w-2 h-1 absolute bg-gray-700 rounded-full" style="left: 458.17px; top: 300.39px;" >
            <div class="opacity-30 w-2 h-1 absolute bg-black rounded-full" style="left: 458.17px; top: 300.39px;" >
            <div class="w-11 h-7 absolute bg-red-300 rounded-lg" style="left: 409.82px; top: 328.12px;" >
            <div class="w-3.5 h-3.5 absolute bg-gray-100 rounded-full" style="left: 446.38px; top: 315.36px;" >
            <div class="opacity-20 w-10 h-6 absolute bg-black rounded-lg" style="left: 414.36px; top: 329.38px;" >
            <div class="opacity-20 w-3 h-4 absolute bg-black rounded-full" style="left: 449.09px; top: 316.07px;" >
            <div class="w-6 h-6 absolute bg-red-300 rounded-lg" style="left: 441.32px; top: 294.81px;" >
            <div class="w-5 h-3 absolute bg-gray-800 rounded-full" style="left: 440.04px; top: 290.79px;" >
            <div class="opacity-20 w-0.5 h-1 absolute bg-black rounded-full" style="left: 454.74px; top: 310.71px;" >
            <div class="opacity-20 w-0.5 h-0.5 absolute bg-black rounded-full" style="left: 456.93px; top: 302.80px;" >
            <div class="w-0.5 h-0.5 absolute bg-gray-800 rounded-full" style="left: 445.20px; top: 305.75px;" >
            <div class="w-1.5 h-2.5 absolute bg-gray-700 rounded-full" style="left: 411.36px; top: 346.17px;" >
            <div class="w-1 h-1 absolute bg-gray-700 rounded-full" style="left: 409.40px; top: 343.35px;" >
            <div class="w-1 h-1 absolute bg-gray-700 rounded-full" style="left: 414.14px; top: 354.91px;" >
            <div class="opacity-20 w-1 h-0.5 absolute bg-pink-900 bg-opacity-50 border rounded-full border-black"
                style="left: 414.36px; top: 349.29px;" >
            <div class="opacity-20 w-1.5 h-1.5 absolute bg-black rounded-full" style="left: 410.60px; top: 348.89px;" >
            <div class="w-1 h-0.5 absolute bg-red-300 rounded-full" style="left: 410.43px; top: 349px;" >
            <div class="w-1 h-0.5 absolute bg-red-300 rounded-full" style="left: 411.42px; top: 351.34px;" >
            <div class="w-1 h-0.5 absolute bg-red-300 rounded-full" style="left: 412.31px; top: 352.36px;" >
            <div class="w-1.5 h-0.5 absolute bg-red-300 rounded-full" style="left: 410.67px; top: 350.10px;" >
            <div class="opacity-20 w-1 h-0.5 absolute bg-pink-900 bg-opacity-50 border rounded-full border-black"
                style="left: 411.33px; top: 350.17px;" >
            <div class="opacity-20 w-1 h-0.5 absolute bg-pink-900 bg-opacity-50 border rounded-full border-black"
                style="left: 411.75px; top: 351.30px;" >
            <div class="opacity-20 w-1 h-0.5 absolute bg-pink-900 bg-opacity-50 border rounded-full border-black"
                style="left: 412.81px; top: 352.72px;" >
            <div class="w-5 h-20 absolute bg-indigo-500 rounded-lg" style="left: 479.71px; top: 374.04px;" >
            <div class="opacity-20 w-5 h-20 absolute bg-black rounded-lg" style="left: 479.71px; top: 374.04px;" >
            <div class="w-0.5 h-0.5 absolute bg-white rounded-full" style="left: 445.31px; top: 306.26px;" >
            <div class="w-1 h-1.5 absolute bg-red-300 rounded-full" style="left: 453.23px; top: 299.67px;" >
            <div class="opacity-30 w-0.5 h-0.5 absolute bg-gray-800 rounded-full"
                style="left: 453.97px; top: 300.37px;" >
            <div class="w-0.5 h-0.5 absolute bg-white rounded-full" style="left: 447.03px; top: 310.56px;" >
            <div class="w-0.5 h-0.5 absolute bg-gray-800 rounded-full" style="left: 443.72px; top: 303.87px;" >
            <div class="w-11 h-9 absolute bg-red-300 rounded-lg" style="left: 415.01px; top: 329.14px;" >
            <div class="w-4 h-3 absolute bg-red-300 rounded-full" style="left: 466.27px; top: 446.06px;" >
            <div class="opacity-20 w-2 h-2 absolute bg-black rounded-full" style="left: 474.07px; top: 449.51px;" >
            <div class="w-5 h-2.5 absolute bg-gray-700 rounded-full" style="left: 460.77px; top: 450.95px;" >
            <div class="w-5 h-0.5 absolute bg-black rounded-full" style="left: 460.77px; top: 460.33px;" >
            <div class="w-1.5 h-1.5 absolute bg-black rounded-full" style="left: 468.56px; top: 450.89px;" >
            <div class="w-0.5 h-0.5 absolute bg-pink-900 bg-opacity-50 border rounded-full border-white"
                style="left: 469.99px; top: 454.05px;" >
            <div class="w-0.5 h-0.5 absolute bg-pink-900 bg-opacity-50 border rounded-full border-white"
                style="left: 471.13px; top: 453.03px;" >
            <div class="w-0.5 h-0.5 absolute bg-pink-900 bg-opacity-50 border rounded-full border-white"
                style="left: 472.28px; top: 452.05px;" >
            <div class="w-14 h-36 absolute bg-indigo-500 rounded-lg" style="left: 449.49px; top: 311.41px;" >
            <div class="opacity-20 w-10 h-8 absolute bg-black rounded-lg" style="left: 419.34px; top: 333.63px;" >
            <div class="w-8 h-9 absolute bg-gray-100 rounded-lg" style="left: 449.23px; top: 311.52px;" >
            <div class="opacity-20 w-1 h-1 absolute bg-pink-900 bg-opacity-50 border rounded-full border-black"
                style="left: 415.89px; top: 359.59px;" >
            <div class="opacity-20 w-1 h-0.5 absolute bg-pink-900 bg-opacity-50 border rounded-full border-black"
                style="left: 416.97px; top: 360.80px;" >
            <div class="opacity-20 w-7 h-32 absolute bg-black rounded-lg" style="left: 455.34px; top: 327.52px;" >
            <div class="opacity-20 w-1 h-1 absolute bg-pink-900 bg-opacity-50 border rounded-full border-black"
                style="left: 462.48px; top: 329px;" >
            <div class="w-3.5 h-1 absolute bg-gray-700 rounded-full" style="left: 454.74px; top: 298.82px;" >
            <div class="w-5 h-3 absolute bg-indigo-500 rounded-full" style="left: 440.54px; top: 290.28px;" >
            <div class="opacity-20 w-2.5 h-2 absolute bg-black rounded-full" style="left: 451.39px; top: 290.20px;" >
            <div class="w-5 h-1 absolute bg-gray-800 rounded-full" style="left: 518.20px; top: 434.94px;" >
            <div class="w-10 h-5 absolute bg-indigo-500 rounded-lg" style="left: 510.78px; top: 440.55px;" >
            <div class="opacity-10 w-10 h-5 absolute bg-black rounded-lg" style="left: 510.78px; top: 440.55px;" >
            <div class="opacity-20 w-2.5 h-5 absolute bg-black rounded-lg" style="left: 541.53px; top: 440.55px;" >
            <div class="w-11 h-1 absolute bg-indigo-500 rounded-full" style="left: 509.43px; top: 438.87px;" >
            <div class="opacity-20 w-3 h-1 absolute bg-black rounded-full" style="left: 541.53px; top: 438.87px;" >
            <div class="w-2 h-1 absolute bg-gray-100 rounded-full" style="left: 521.93px; top: 442.91px;" >
            <div class="w-5 h-2 absolute bg-gray-300 rounded-full" style="left: 151.22px; top: 207.06px;" >
            <div class="w-5 h-2 absolute bg-gray-300 rounded-full" style="left: 135.13px; top: 217.93px;" >
            <div class="w-5 h-2 absolute bg-gray-300 rounded-full" style="left: 160.56px; top: 217.93px;" >
            <div class="w-5 h-2 absolute bg-gray-300 rounded-full" style="left: 150.20px; top: 228.80px;" >
            <div class="w-5 h-2 absolute bg-gray-300 rounded-full" style="left: 297.02px; top: 292.61px;" >
            <div class="w-5 h-2 absolute bg-gray-300 rounded-full" style="left: 280.92px; top: 303.48px;" >
            <div class="w-5 h-2 absolute bg-gray-300 rounded-full" style="left: 306.35px; top: 303.48px;" >
            <div class="w-5 h-2 absolute bg-gray-300 rounded-full" style="left: 296px; top: 314.35px;" >
            <div class="w-6 h-2 absolute bg-gray-300 rounded-full" style="left: 298.17px; top: 152.45px;" >
            <div class="w-6 h-2 absolute bg-gray-300 rounded-full" style="left: 109.75px; top: 323.55px;" >
            <div class="w-6 h-2 absolute bg-gray-300 rounded-full" style="left: 546.66px; top: 156.31px;" >
            <div class="w-6 h-2 absolute bg-gray-300 rounded-full" style="left: 213.40px; top: 24.85px;" >
            <div class="w-6 h-2 absolute bg-gray-300 rounded-full" style="left: 309.48px; top: 165.21px;" >
            <div class="w-6 h-2 absolute bg-gray-300 rounded-full" style="left: 402px; top: 221.56px;" >
            <div class="w-6 h-2 absolute bg-gray-300 rounded-full" style="left: 390.69px; top: 234.34px;" >
            <div class="w-6 h-2 absolute bg-gray-300 rounded-full" style="left: 23.53px; top: 248.63px;" >
            <div class="w-6 h-2 absolute bg-gray-300 rounded-full" style="left: 34.84px; top: 261.40px;" >
        <div>
    <div>
    <div class="relative" style="width: 663px; height: 60px;">
        <div class="relative" style="width: 663px; height: 60px;">
            <div class="absolute left-0 top-0 bg-gray-50 border rounded-tl-lg rounded-bl-lg border-gray-400"
                style="width: 605px; height: 60px;" >
            <div class="w-64 h-16 absolute bg-gray-50 border border-gray-400" style="left: 339px; top: 0px;" >
            <div
                class="inline-flex flex-col space-y-96 items-center justify-center w-16 pr-2 pb-2 absolute right-0 top-0">
                <div class="transform -rotate-180 w-full h-16 bg-indigo-500 rounded-tl-2xl rounded-bl-2xl" >
                <img class="w-56 h-56 rounded-lg" src="https:via.placeholder.com42x42" >
            <div>
        <div>
        <p class="absolute text-2xl text-gray-600" style="left: 16px; top: 17px;">I am looking for a ...<p>
        <p class="absolute text-2xl text-gray-600" style="left: 403px; top: 17px;">Where...<p>
        <img class="w-8 h-8 absolute rounded-lg" style="left: 349px; top: 13px;"
            src="https:via.placeholder.com33x33" >
        <img class="w-6 h-10 absolute rounded-lg" style="left: 302px; top: 20px;"
            src="https:via.placeholder.com24x38.7890625" >
    <div>
    <div class="relative" style="width: 663px; height: 60px;">
        <div class="relative" style="width: 663px; height: 60px;">
            <div class="absolute left-0 top-0 bg-gray-50 border rounded-tl-lg rounded-bl-lg border-gray-400"
                style="width: 605px; height: 60px;" >
            <div class="w-64 h-16 absolute bg-gray-50 border border-gray-400" style="left: 339px; top: 0px;" >
            <div
                class="inline-flex flex-col space-y-96 items-center justify-center w-16 pr-2 pb-2 absolute right-0 top-0">
                <div class="transform -rotate-180 w-full h-16 bg-indigo-500 rounded-tl-2xl rounded-bl-2xl" >
                <img class="w-56 h-56 rounded-lg" src="https:via.placeholder.com42x42" >
            <div>
        <div>
        <p class="absolute text-2xl text-gray-600" style="left: 16px; top: 17px;">I am looking for a ...<p>
        <p class="absolute text-2xl text-gray-600" style="left: 403px; top: 17px;">Where...<p>
        <img class="w-8 h-8 absolute rounded-lg" style="left: 349px; top: 13px;"
            src="https:via.placeholder.com33x33" >
        <img class="w-6 h-10 absolute rounded-lg" style="left: 302px; top: 20px;"
            src="https:via.placeholder.com24x38.7890625" >
    <div>
    <p class="text-lg text-black text-opacity-40">Are you a tradesman?<p>
    <div class="relative bg-purple-50 rounded-lg" style="width: 1440px; height: 438px;">
        <div class="inline-flex items-center justify-center w-28 h-28 px-6 py-2 absolute"
            style="left: 231px; top: 123px;">
            <div class="relative flex-1 h-full">
                <div class="opacity-40 w-11 h-2.5 bg-indigo-500 rounded-full" >
            <div>
        <div>
        <p class="absolute text-4xl font-bold" style="left: 250px; top: 232px;">Find<p>
        <p class="absolute text-4xl font-bold" style="left: 650px; top: 232px;">Contact<p>
        <p class="absolute text-4xl font-bold" style="left: 1107px; top: 232px;">Accomplish<p>
        <p class="absolute text-lg font-light text-center text-gray-500" style="left: 187px; top: 287px;">a Tradesman
            near you with <br >the skills you need.<p>
        <p class="absolute text-lg font-light text-center text-gray-500" style="left: 609px; top: 287px;">The Tradesman
            and discuss<br >your requirments.<p>
        <p class="absolute text-lg font-light text-center text-gray-500" style="left: 1084px; top: 287px;">Get the task
            you need done by <br >the best at their field.<p>
        <div class="inline-flex items-center justify-center w-28 h-28 px-2 py-3.5 absolute"
            style="left: 659px; top: 123px;">
            <img class="flex-1 h-full rounded-lg"
                src="https:via.placeholder.com90.83332824707031x81.75276184082031" >
        <div>
        <div class="inline-flex items-center justify-center w-28 h-28 p-2 absolute" style="left: 1150px; top: 123px;">
            <img class="flex-1 h-full rounded-lg"
                src="https:via.placeholder.com90.83332824707031x90.83333587646484" >
        <div>
    <div>
    <p class="w-40 h-8 text-2xl text-center text-black text-opacity-40">Install our app<p>
    <div class="inline-flex items-end justify-end w-full pl-5 pt-28">
        <div class="relative" style="width: 2129.52px; height: 630px;">
            <div class="bg-black rounded-lg" style="width: 2129.52px; height: 630px;">
                <div class="bg-gray-400 rounded-lg" style="width: 2129.52px; height: 630px;" >
            <div>
            <div class="w-24 h-24 absolute bg-white rounded-lg" style="left: 86.97px; top: -56.42px;" >
            <div class="w-24 h-24 absolute bg-white rounded-lg" style="left: 86.76px; top: -56.21px;" >
            <div class="inline-flex items-center justify-center w-14 h-24 pl-6 pr-5 absolute bg-white rounded-lg"
                style="left: 102.06px; top: -56.70px;">
                <div class="flex-1 h-full bg-white rounded-lg" >
            <div>
            <div class="inline-flex items-center justify-center w-14 h-24 pl-6 pr-5 absolute bg-white rounded-lg"
                style="left: 101.85px; top: -56.49px;">
                <div class="flex-1 h-full bg-white rounded-lg" >
            <div>
            <div class="w-16 h-24 absolute bg-white rounded-lg" style="left: 111.12px; top: -56.70px;" >
            <div class="w-16 h-24 absolute bg-white rounded-lg" style="left: 110.91px; top: -56.49px;" >
            <div class="w-16 h-24 absolute bg-white rounded-lg" style="left: 129.73px; top: -56.70px;" >
            <div class="w-16 h-24 absolute bg-white rounded-lg" style="left: 129.52px; top: -56.49px;" >
            <div class="w-24 h-24 absolute bg-white rounded-lg" style="left: 143.71px; top: -56.42px;" >
            <div class="w-24 h-24 absolute bg-white rounded-lg" style="left: 143.50px; top: -56.21px;" >
            <div class="w-20 h-24 absolute bg-white rounded-lg" style="left: 158.95px; top: -56.70px;" >
            <div class="w-20 h-24 absolute bg-white rounded-lg" style="left: 158.74px; top: -56.49px;" >
            <div class="absolute bg-white rounded-lg"
                style="width: 1337.28px; height: 268.21px; left: 86.32px; top: -12.44px;" >
            <div class="relative bg-gradient-to-tl from-blue-500 via-blue-500 to-blue-500 rounded-lg"
                style="width: 203.89px; height: 390.26px; left: 20.97px; top: -15.98px;">
                <div class="w-2 h-6 absolute left-0 top-0 bg-black rounded-lg" >
                <div
                    class="w-2 h-6 absolute left-0 top-0 bg-gradient-to-t from-blue-600 via-blue-600 to-green-400 rounded-lg" >
                <div
                    class="w-0.5 h-0.5 absolute left-0 top-0 bg-gradient-to-tl from-red-500 to-pink-800 rounded-full" >
            <div>
            <div class="inline-flex items-start justify-start w-40 h-32 pl-2 pr-36 pb-32 absolute bg-gradient-to-l from-yellow-400 via-yellow-500 to-yellow-500 rounded-lg"
                style="left: 48.16px; top: -33.02px;">
                <div class="flex-1 h-full bg-gradient-to-l from-yellow-500 via-yellow-600 to-yellow-600 rounded-full" >
            <div>
            <div class="w-64 h-52 absolute bg-gradient-to-tl from-red-500 to-pink-700 rounded-lg"
                style="left: 21.96px; top: -14.99px;" >
            <div class="relative bg-gradient-to-tr from-green-500 via-green-500 to-green-500 rounded-lg"
                style="width: 262.06px; height: 202.55px; left: 22.10px; top: -42px;">
                <div class="w-0.5 h-2 absolute bg-black rounded-full" style="left: 47.19px; top: 1.09px;" >
                <div class="w-24 h-16 absolute bg-gradient-to-l from-yellow-400 via-yellow-500 to-yellow-600 rounded-lg"
                    style="left: 34.75px; top: 8.87px;" >
                <div class="w-24 h-16 absolute bg-gray-700 rounded-lg" style="left: 34.94px; top: 0px;" >
            <div>
            <div class="w-64 h-32 absolute bg-black rounded-lg" style="left: 21.95px; top: -15px;" >
            <div class="w-64 h-36 absolute bg-gradient-to-tl from-red-600 to-pink-800 rounded-lg"
                style="left: 21.95px; top: -14.99px;" >
            <div class="w-24 h-16 absolute bg-gradient-to-l from-yellow-300 via-yellow-300 to-yellow-400 rounded-lg"
                style="left: 56.85px; top: -42px;" >
            <div class="inline-flex items-center justify-start w-6 h-7 pr-3.5 pb-0.5 absolute bg-gray-700 rounded-lg"
                style="left: 20.97px; top: -65.23px;">
                <div class="flex-1 h-full bg-gradient-to-t from-blue-400 via-blue-400 to-blue-400 rounded-lg" >
            <div>
            <div class="w-64 h-36 absolute bg-gradient-to-tr from-green-400 via-green-400 to-green-400 rounded-lg"
                style="left: 21.95px; top: -50.67px;" >
        <div>
    <div>
<div>