{% extends 'base.html' %}

{% block title %}
7erafi-HomePage
{%endblock%}

{% block content %}
<div class="container-fluid">
    <h1 style="text-align: center;">Find a Qualified Tradesmen
        For Any Of Your Needs.
    </h1>
    <div class="container">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="I'm Looking For.." aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div>
            <h6 style="opacity: 50%; "><a href="#">Are you a tradesman?</a></h6>
        </div>
    </div>

    <div class="row">
        <div class="col-lg" style="margin-top: 500px; text-align: center;">
            <h3>Find</h3>
            <p style="text-align: center;">A Tradesman near you with
                the skills you need.
            </p>
        </div>
        <div class="col-lg" style="margin-top: 500px; text-align: center;">
            <h3>Contact</h3>
            <p>
                The Tradesman and discuss
                your requirments.
            </p>
        </div>
        <div class="col-lg" style="margin-top: 500px; text-align: center;">
            <h3>Accomplish</h3>
            <p>
                Get the task you need done by
                the best at their field.
            </p>
        </div>
    </div>
</div>
{% endblock %}